.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: relative; 
  background-color: black;
  z-index: 0;
}

.project-container {
  width: 100vh;
  max-height: 100%;
  max-width: 100%;  
  margin: 0 auto; 
  margin-bottom: 100px; 
  padding: 20px;
  text-align: center; 
  position: relative; 
  z-index: 1; 
  background-color: rgb(169, 169, 169); 
  border: 2px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  box-sizing: border-box; 
}


.trailer {
  max-width: 50%; 
  max-height: 50%; 
  object-fit: contain;
  padding-bottom: 5px;
}

.store-links {
  margin-top: 20px; 
  
}

.store-link {
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-decoration: none;
}

.store-link:hover{
  opacity: 0.9;
}

.store-link:hover {
  text-decoration: underline;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 400px; 
}

.project-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 768px){

 .project-page{
    height: auto; 
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .project-container{
    width: 90vh;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  #project-trailer{
    width: 40vh;
  }
  
}