/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-wrapper {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
}

.main-content {
    color: white;
    flex: 1; 
}


/* Global styles for desktop devices */
@media only screen and (min-width: 768px){
    .app-wrapper{
        flex-direction: column;
    }

    .main-content{
        flex: 1;  /* fill out remaining space */
    }
}


/* Global styles for mobile devices */
@media only screen and (max-width: 430px){
        .app-wrapper{
        flex-direction: column;
    }
}